.Icon-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    /* background-color: #CCC; */
  }
  .Icon-container--check {
    position: absolute;
    left: 0px;
  }
  .Icon-container--edit {
    position: absolute;
    top: -5px;
    right: 48px;
  }
  .Icon-container--delete {
    position: absolute;
    top: -5px; 
    right: 0;
  }
  
  .Icon-svg {
    width: 24px;
    height: 24px;
    transition: fill .15s;
  }
  .Icon-container:hover .Icon-svg--check {
    fill: #99FF90;
  }
  .Icon-container:hover .Icon-svg--edit {
    fill: #61DAFA;
  }
  .Icon-container:hover .Icon-svg--delete {
    fill: red;
  }